{% extends "layout.html" %}
{% block content %}
<center><h3>
    <p>about</p>


            </div>
              <small class="text-muted">Description:</small>
                <p class="article-content">Once new securities have been sold in the primary market,
                they are traded in the secondary market—where one investor buys shares from another investor at the prevailing market price or at whatever price both the buyer and seller agree upon.
                The secondary market or the stock exchanges are regulated by the regulatory authority. In India, the secondary and primary markets are governed by the Security and Exchange Board of India (SEBI).
                    A stock exchange facilitates stock brokers to trade company stocks and other securities. A stock may be bought or sold only if it is listed on an exchange. Thus, it is the meeting place of the stock buyers and sellers. India's premier stock exchanges are the Bombay Stock Exchange and the National Stock Exchange.</p>
 <h4>The BSE and NSE</h4>
              <p> Most of the trading in the Indian stock market takes place on its two stock exchanges: the Bombay Stock Exchange (BSE) and the National Stock Exchange (NSE).
        The BSE has been in existence since 1875. The NSE, on the other hand, was founded in 1992 and started trading in 1994. However, both exchanges follow the same trading
                  mechanism, trading hours, settlement process, etc. At the last count, the BSE had more than 5,000 listed firms, whereas the rival NSE had about 1,600. Out of
                  all the listed firms on the BSE, only about 500 firms constitute more than 90% of its market capitalization; the rest of the crowd consists of highly illiquid shares.

           Almost all the significant firms of India are listed on both the exchanges. NSE enjoys a dominant share in spot trading, with about 70% of the market share, as of 2009, and almost a complete monopoly in derivatives trading, with about a 98% share in this market, also as of 2009. Both exchanges compete for the order flow that leads to reduced costs, market efficiency, and innovation. The presence of arbitrageurs keeps the prices on the two stock exchanges within a very tight range.</p>

              <div><img src="{{url_for('static', filename='b.png')}}" align="middle" /></div>


          </div>

        </article>

{% endblock content %}